<div class="row fixed-bottom myfooter">
    <div class="col-2 mycol">
        <a class="mya" href="#">about us</a>
    </div>
    <div class="col-2 mycol">
        <a class="mya" href="#">privacy</a>
    </div>
    <div class="col-2 mycol">
        <a class="mya" href="#">terms</a>
    </div>
    <div class="col-2 mycol">
        <a class="mya" href="#">help</a>
    </div>

</div>