<div class="row fixed-bottom myfooter">
    <div class="col-2 mycol text-center">
        <a class="mya" href="/disclaimer#AboutUs" target="_blank">about us</a>
    </div>
    <div class="col-2 mycol text-center">
        <a class="mya" href="/disclaimer#Privacy" target="_blank">Privacy</a>
    </div>
    <div class="col-2 mycol text-center">
        <a class="nav-link mya" href="/disclaimer#Terms" target="_blank">Terms</a>
    </div>
    <div class="col-2 mycol text-center">
        <a class="mya" href="/disclaimer#Help" target="_blank">help</a>
    </div>

</div>