<!--Navigation-->
<div class="row mynav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="image/logo.png"></a>
    </div>
</div>
<div class="dashboard">
    <title>test</title>
    <h1>Agora</h1>
    <img src="image/avatar.png">
    <p>member full name</p>

    <a href="/users/dashboard">DASHBOARD</a><br>
    <a href="/users/exchange">EXCHANGE</a><br>
    <a href="/users/gather">GATHER</a><br>
    <a href="/users/wander">WANDER</a><br>
    <a href="/users/logout">LOGOUT</a><br>
    <a href="/users/settings">SETTINGS</a><br>
    <a href="/users/help">HELP</a>
</div>