<style>
    body {
        background-image: url('/image/background1.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-blend-mode: darken;
    }
    
    .tabs div:not(:target) {
        display: none;
    }
    
    .tabs div:target {
        display: block;
    }
</style>

<div class="container-fluid ">
    <div class="row">


        <a class="col-3 tab text-center text-secondary" href="#AboutUs">About Us</a>
        <a class="col-3 tab text-center text-secondary" href="#Privacy">Privacy</a>
        <a class="col-3 tab text-center text-secondary" href="#Terms">Terms</a></li>
        <a class="col-3 tab text-center text-secondary" href="#Help">Help</a></li>
    </div>

    <div class='tabs text-center justify-content-center'>
        <div id='AboutUs' class="tabs">
            <br>
            <h1>Under Construction, not ready to display.</h1>
        </div>
        <div id='Privacy' class="tabs">
            <br>
            <h2>
                Your Privacy is not our concern... yet.
            </h2>
        </div>
        <div id='Help' class="tabs">
            <br>
            <h2>
                Help is nonexistent... for now.
            </h2>
        </div>
        <div id="Terms" class="tabs">
            <br>
            <h1>
                Terms and Conditions for Website
            </h1>
            <br>

            <h2> Agora Terms of Service ("Agreement")</h2>

            <h4>This Agreement was last modified on April 25, 2020.</h4>

            <p>Please read these Terms of Service completely using agora.org which is owned and operated by Agora. This Agreement documents the legally binding terms and conditions attached to the use of the Site at agora.org.

            </p>
            <p>By using or accessing the Site in any way, viewing or browsing the Site, or adding own content to the Site, you are agreeing to be bound by these Terms of Service.</p>


            <h4>Intellectual Property</h4>

            <p>The Site and all of its original content are the sole property of Agora and are, as such, fully protected by the appropriate international copyright and other intellectual property rights laws.</p>

            <h4>Termination</h4>

            <p> Agora reserves the right to terminate access to the Site, without any advance notice.</p>

            <h4>Links to Other Websites</h4>

            <p>Our Site does contain a number of links to other websites and online resources that are not owned or controlled by Agora.</p>

            <p> Agora has no control over, and therefore cannot assume responsibility for, the content or general practices of any of these third party sites and/or services. Therefore, we strongly advise you to read the entire terms and conditions and privacy
                policy of any site that you visit as a result of following a link that is posted on our site.</p>

            <h4>Governing Law</h4>
            <p>This Agreement is governed in accordance with the laws of United States.</p>

            <h4>Changes to This Agreement</h4>

            <p> Agora reserves the right to modify these Terms of Service at any time. We do so by posting and drawing attention to the updated terms on the Site. decision to continue to visit and make use of the Site after such changes have been made constitutes
                formal acceptance of the new Terms of Service. Therefore, we ask that you check and review this Agreement for such changes on an occasional basis. Should you not agree to any provision of this Agreement or any changes we make to this Agreement,
                we ask and advise that you do not use or continue to access the Agora site immediately.
            </p>
            <h4>Contact Us</h4>

            <p>If you have any questions about this Agreement, please feel free to contact us at info@agora.org </p>
            <br>

            <p>Downloaded from http://www.wikihow.com</p>

        </div>
    </div>
</div>
<script>
    (function() {
        if (window.location.hash) {
            window.location.hash;
        } else {
            window.location.hash = '#About';
        };
    })();
</script>