<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/SimpleStarRating.css">
    <link rel="stylesheet" type="text/css" href="/css/tab.css">
    <title>Agora</title>
</head>

<body>


    <!--Will output any views that are supposed to be displayed-->
    <div class="container-fluid mycontainer">
        <%- body %>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable').dataTable( {
                "lengthMenu": [ 5, 10, 20, 25]
            } );
        });
    </script>

    <!-- Tables for gather page -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#groupTable').dataTable( {
                "lengthMenu": [ 5, 10, 20, 25]
            } );
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tutorTable').dataTable( {
                "lengthMenu": [ 5, 10, 20, 25]
            } );
        });
    </script>

    <!-- Star rating script -->
    <script>
        var SimpleStarRating = (function() {
            function SimpleStarRating(target) {
                function attr(name, d) {
                    var a = target.getAttribute(name);
                    return (a ? a : d);
                }

                var max = parseInt(attr('data-stars', 5)),
                    disabled = typeof target.getAttribute('disabled') != 'undefined',
                    defaultRating = parseFloat(attr('data-default-rating', 0)),
                    currentRating = -1,
                    stars = [];

                target.style.display = 'inline-block';

                for (var s = 0; s < max; s++) {
                    var n = document.createElement('span');
                    n.className = 'star';
                    n.addEventListener('click', starClick);
                    if (s > 0)
                        stars[s - 1].appendChild(n);
                    else
                        target.appendChild(n);

                    stars.push(n);
                }

                function disable() {
                    target.setAttribute('disabled', '');
                    disabled = true;
                }
                this.disable = disable;

                function enable() {
                    target.removeAttribute('disabled');
                    disabled = false;
                }
                this.enable = enable;

                function setCurrentRating(rating) {
                    currentRating = rating;
                    target.setAttribute('data-rating', currentRating);
                    showCurrentRating();
                }
                this.setCurrentRating = setCurrentRating;

                function setDefaultRating(rating) {
                    defaultRating = rating;
                    target.setAttribute('data-default-rating', defaultRating);
                    showDefaultRating();
                }
                this.setDefaultRating = setDefaultRating;

                this.onrate = function(rating) {};

                target.addEventListener('mouseout', function() {
                    disabled = target.getAttribute('disabled') !== null;
                    if (!disabled)
                        showCurrentRating();
                });

                target.addEventListener('mouseover', function() {
                    disabled = target.getAttribute('disabled') !== null;
                    if (!disabled)
                        clearRating();
                });

                showDefaultRating();

                function showRating(r) {
                    clearRating();
                    for (var i = 0; i < stars.length; i++) {
                        if (i >= r)
                            break;
                        if (i === Math.floor(r) && i !== r)
                            stars[i].classList.add('half');
                        stars[i].classList.add('active');
                    }
                }

                function showCurrentRating() {
                    var ratingAttr = parseFloat(attr('data-rating', 0));
                    if (ratingAttr) {
                        currentRating = ratingAttr;
                        showRating(currentRating);
                    } else {
                        showDefaultRating();
                    }
                }

                function showDefaultRating() {
                    defaultRating = parseFloat(attr('data-default-rating', 0));
                    showRating(defaultRating);
                }

                function clearRating() {
                    for (var i = 0; i < stars.length; i++) {
                        stars[i].classList.remove('active');
                        stars[i].classList.remove('half');
                    }
                }

                function starClick(e) {
                    if (disabled) return;

                    if (this === e.target) {
                        var starClicked = stars.indexOf(e.target);
                        if (starClicked !== -1) {
                            var starRating = starClicked + 1;
                            setCurrentRating(starRating);
                            if (typeof this.onrate === 'function')
                                this.onrate(currentRating);
                            var evt = new CustomEvent('rate', {
                                detail: starRating,
                            });
                            target.dispatchEvent(evt);
                        }
                    }
                }
            }

            return SimpleStarRating;
        })();
    </script>
    <script>
        var ratings = document.getElementsByClassName('rating');

        for (var i = 0; i < ratings.length; i++) {
            var r = new SimpleStarRating(ratings[i]);

            ratings[i].addEventListener('rate', function(e) {
                console.log('Rating: ' + e.detail);
            });
        }
    </script>

</body>

</html>