html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('/image/background1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    background: rgba(205, 210, 212, 0.5);
    border: 2px solid #CCCCCC;
    text-decoration: none;
    color: darkblue;
}

.btn {
    background: white;
    color: black;
}

.dashboard {
    background: white;
    color: black;
}

.mya {
    text-decoration: none;
    color: white;
}

.myfooter {
    justify-content: center;
    background: darkblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    align-items: center;
    text-transform: uppercase;
}

.mycol {}

.mynav {
    justify-content: center;
    background: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    align-items: center;
    text-transform: uppercase;
}